In [1]:
import data_utils

In [3]:
data_utils.add_to_scores('Paul', 30.6, 12)
data_utils.add_to_scores('Joe', 19.6, 8)
data_utils.add_to_scores('Mary', 35.6, 17)
data_utils.add_to_scores('Jane', 15.6, 7)
data_utils.add_to_scores('Harry', 25.6, 9)
data_utils.add_to_scores('Pat', 17.6, 3)
data_utils.add_to_scores('Paul', 15.6, 8)
data_utils.add_to_scores('John', 152.6, 17)

In [4]:
data_utils.get_sorted_leaderboard()

[('Pat', Decimal('17.60'), 3),
 ('Paul', Decimal('15.60'), 7),
 ('Jane', Decimal('15.60'), 7),
 ('Paul', Decimal('15.60'), 8),
 ('Joe', Decimal('19.60'), 8),
 ('Harry', Decimal('25.60'), 9),
 ('Paul', Decimal('30.60'), 12),
 ('Mary', Decimal('35.60'), 17),
 ('John', Decimal('152.60'), 17)]

In [5]:
data = data_utils.get_sorted_leaderboard()

In [6]:
data

[('Pat', Decimal('17.60'), 3),
 ('Paul', Decimal('15.60'), 7),
 ('Jane', Decimal('15.60'), 7),
 ('Paul', Decimal('15.60'), 8),
 ('Joe', Decimal('19.60'), 8),
 ('Harry', Decimal('25.60'), 9),
 ('Paul', Decimal('30.60'), 12),
 ('Paul with Class', Decimal('47.34'), 12),
 ('Mary', Decimal('35.60'), 17),
 ('John', Decimal('152.60'), 17)]

In [8]:
[ (row[0], float(row[1]), row[2]) for row in data ]

[('Pat', 17.6, 3),
 ('Paul', 15.6, 7),
 ('Jane', 15.6, 7),
 ('Paul', 15.6, 8),
 ('Joe', 19.6, 8),
 ('Harry', 25.6, 9),
 ('Paul', 30.6, 12),
 ('Paul with Class', 47.34, 12),
 ('Mary', 35.6, 17),
 ('John', 152.6, 17)]